{% extends 'rating/base.html' %}

{% block content %}
    <table class = "table">
        <thead class="thead-inverse">
            <tr>
                <th> Site </th>
                <th> Rating </th>
                <th> Maximum Rating </th>
            </tr>
        </thead>
        <tbody>
            {% for rating in ratings %}
                <tr>
                    <td> {{ rating.site }}</td>
                    <td> {{ rating.info.rating }}</td>
                    <td> {% if rating.info.max_rating %}
                            {{ rating.info.max_rating }}
                         {% else %}
                            --
                         {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>    
{% endblock %}